In [28]:
import pandas as pd
import matplotlib.pyplot as plt

In [33]:
countries = [
    "Afghanistan", "Albania", "Algeria", "American Samoa", "Angola", "Antarctica", "Antigua and Barbuda", "Argentina", "Armenia", "Aruba", "Australia", "Austria", "Azerbaijan", "Bahamas", "Bahrain", "Bangladesh", "Barbados", "Belarus", "Belgium", "Belize", "Benin", "Bermuda", "Bhutan", "Bolivia", "Bosnia and Herzegovina", "Botswana", "Brazil", "British Virgin Islands", "Brunei", "Bulgaria", "Burkina Faso", "Burundi", "Cambodia", "Cameroon", "Canada", "Cape Verde", "Cayman Islands", "Central African Republic", "Chad", "Chile", "China", "Colombia", "Comoros", "Congo", "Cook Islands", "Costa Rica", "Côte d'Ivoire", "Croatia", "Cuba", "Cyprus", "Czechia", "Democratic Republic of Congo", "Denmark", "Djibouti", "Dominica", "Dominican Republic", "East Timor", "Ecuador", "Egypt", "El Salvador", "Equatorial Guinea", "Eritrea", "Estonia", "Eswatini", "Ethiopia", "Falkland Islands", "Faroe Islands", "Fiji", "Finland", "France", "French Guiana", "French Polynesia", "Gabon", "Gambia", "Georgia", "Germany", "Ghana", "Greece", "Greenland", "Grenada", "Guadeloupe", "Guam", "Guatemala", "Guinea", "Guinea-Bissau", "Guyana", "Haiti", "Honduras", "Hong Kong", "Hungary", "Iceland", "India", "Indonesia", "Iran", "Iraq", "Ireland", "Israel", "Italy", "Jamaica", "Japan", "Jordan", "Kazakhstan", "Kenya", "Kiribati", "Kuwait", "Kyrgyzstan", "Laos", "Latvia", "Lebanon", "Lesotho", "Liberia", "Libya", "Lithuania", "Luxembourg", "Macao", "Madagascar", "Malawi", "Malaysia", "Maldives", "Mali", "Malta", "Martinique", "Mauritania", "Mauritius", "Mexico", "Micronesia", "Moldova", "Mongolia", "Montenegro", "Montserrat", "Morocco", "Mozambique", "Myanmar", "Namibia", "Nauru", "Nepal", "Netherlands", "Netherlands Antilles", "New Caledonia", "New Zealand", "Nicaragua", "Niger", "Nigeria", "Niue", "North Korea", "North Macedonia", "Northern Mariana Islands", "Norway", "Oman", "Pakistan", "Palestine", "Panama", "Papua New Guinea", "Paraguay", "Peru", "Philippines", "Poland", "Portugal", "Puerto Rico", "Qatar", "Réunion", "Romania", "Russia", "Rwanda", "Saint Helena", "Saint Kitts and Nevis", "Saint Lucia", "Saint Pierre and Miquelon", "Saint Vincent and the Grenadines", "Samoa", "Sao Tome and Principe", "Saudi Arabia", "Senegal", "Serbia", "Seychelles", "Sierra Leone", "Singapore", "Slovakia", "Slovenia", "Solomon Islands", "Somalia", "South Africa", "South Korea", "South Sudan", "Spain", "Sri Lanka", "Sudan", "Suriname", "Sweden", "Switzerland", "Syria", "Taiwan", "Tajikistan", "Tanzania", "Thailand", "Togo", "Tonga", "Trinidad and Tobago", "Tunisia", "Turkey", "Turkmenistan", "Turks and Caicos Islands", "Tuvalu", "Uganda", "Ukraine", "United Arab Emirates", "United Kingdom", "United States", "United States Virgin Islands", "Uruguay", "Uzbekistan", "Vanuatu", "Venezuela", "Vietnam", "Western Sahara", "Yemen", "Zambia", "Zimbabwe"
]

In [35]:
df = pd.read_csv("primary-energy-cons.csv")

df

            Entity Code  Year  Primary energy consumption (TWh)
0      Afghanistan  AFG  1980                          7.790772
1      Afghanistan  AFG  1981                          8.777320
2      Afghanistan  AFG  1982                          9.348327
3      Afghanistan  AFG  1983                         11.436162
4      Afghanistan  AFG  1984                         11.489043
...            ...  ...   ...                               ...
12175     Zimbabwe  ZWE  2017                         45.256546
12176     Zimbabwe  ZWE  2018                         51.809430
12177     Zimbabwe  ZWE  2019                         46.119940
12178     Zimbabwe  ZWE  2020                         41.996760
12179     Zimbabwe  ZWE  2021                         42.145393

[12180 rows x 4 columns]

In [37]:
df.groupby("Entity")["Primary energy consumption (TWh)"].sum().reset_index()

           Entity  Primary energy consumption (TWh)
0     Afghanistan                      7.419111e+02
1          Africa                      1.759417e+05
2     Africa (EI)                      1.759417e+05
3    Africa (EIA)                      1.640300e+05
4         Albania                      1.477098e+03
..            ...                               ...
260         World                      6.197107e+06
261         Yemen                      2.358133e+03
262    Yugoslavia                      9.252643e+03
263        Zambia                      1.639719e+03
264      Zimbabwe                      2.122405e+03

[265 rows x 2 columns]

In [50]:
# df.filter(items=countries)

df["Entity"].has(countries)

AttributeError: 'Series' object has no attribute 'has'